<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.george.dao.mappers.PlayerPropMapper">

    <sql id="baseColumns">
        id,  ownQuan , playerId , remark , createTime , propId , isValid 
    </sql>

    <select id="get" parameterType="java.lang.Long" resultType="com.george.dao.entity.PlayerProp">
        SELECT
        <include refid="baseColumns"/>
        FROM player_prop WHERE id = #{id}
    </select>

    <select id="findByEntity" parameterType="com.george.dao.entity.PlayerProp"
            resultType="com.george.dao.entity.PlayerProp">
        SELECT
        <include refid="baseColumns"/>
        FROM player_prop
        <where>
            <if test="entity.ownQuan != null">
                ownQuan = #{entity.ownQuan}
            </if>
            <if test="entity.playerId != null">
                AND playerId = #{entity.playerId}
            </if>
            <if test="entity.remark != null">
                AND remark = #{entity.remark}
            </if>
            <if test="entity.createTime != null">
                AND createTime = #{entity.createTime}
            </if>
            <if test="entity.propId != null">
                AND propId = #{entity.propId}
            </if>
            <if test="entity.isValid != null">
                AND isValid = #{entity.isValid}
            </if>
        </where>
        <include refid="com.george.utils.generators.mybatis.mapper.CRUDMapper.orderBy"/>
    </select>

    <select id="criteriaSearch" resultType="com.george.dao.entity.PlayerProp">
        SELECT
        <include refid="baseColumns"/>
        FROM player_prop
        <where>
            <include refid="com.george.utils.generators.mybatis.mapper.CRUDMapper.conditions"/>
        </where>
        <include refid="com.george.utils.generators.mybatis.mapper.CRUDMapper.orderBy"/>
    </select>
    <select id="findGameProp" resultType="com.george.dao.entity.GameProp">
        SELECT * FROM prop
        <where>
            1=1
            <if test="entity.propName != null">
                AND propName = #{entity.propName}
            </if>
            <if test="entity.coinCost != null">
                AND coinCost = #{entity.coinCost}
            </if>
            <if test="entity.propDesc != null">
                AND propDesc = #{entity.propDesc}
            </if>
            <if test="entity.remark != null">
                AND remark = #{entity.remark}
            </if>
            <if test="entity.isValid != null">
                AND isValid = #{entity.isValid}
            </if>
            <if test="entity.createTime != null">
                AND createTime = #{entity.createTime}
            </if>
        </where>
    </select>
    <select id="getGamePropByPlayerId" resultType="com.george.dao.entity.GameProp">
        SELECT
        tb1.ownQuan,
        tb2.*
        FROM
        player_prop tb1
        JOIN prop tb2 ON tb1.propId = tb2.id
        WHERE 1=1
        <if test="playerId != null">
            and tb1.playerId = #{playerId}
        </if>
    </select>
    <select id="getPropRank" resultType="com.george.dao.entity.Player">
        SELECT
        @rownum:=@rownum+1 AS rankNum,
            t2.id,
            t1.ownQuan propQuan,
            t2.userName,
            t2.area
        FROM
        (SELECT @rownum:=0) r,
            player_prop t1
        LEFT JOIN player t2 ON t1.playerId = t2.id
        WHERE t1.propId = #{propId}
        ORDER BY
            t1.ownQuan DESC
        LIMIT 0,
         30
    </select>

    <insert id="save" parameterType="com.george.dao.entity.PlayerProp" useGeneratedKeys="true" keyProperty="entity.id">
        INSERT INTO player_prop(ownQuan , playerId , remark , createTime , propId , isValid) VALUE
        (#{entity.ownQuan} , #{entity.playerId} , #{entity.remark} ,
        <choose>
            <when test="entity.createTime !=null ">#{entity.createTime}</when>
            <otherwise>now()</otherwise>
        </choose>
        ,
        #{entity.propId} ,
        <choose>
            <when test="entity.isValid !=null ">#{entity.isValid}</when>
            <otherwise>1</otherwise>
        </choose>
        )
    </insert>

    <update id="update" parameterType="com.george.dao.entity.PlayerProp">
        UPDATE player_prop
        <set>
            <if test="entity.ownQuan != null">
                ownQuan = #{entity.ownQuan} ,
            </if>
            <if test="entity.playerId != null">
                playerId = #{entity.playerId} ,
            </if>
            <if test="entity.remark != null">
                remark = #{entity.remark} ,
            </if>
            <if test="entity.createTime != null">
                createTime = #{entity.createTime} ,
            </if>
            <if test="entity.propId != null">
                propId = #{entity.propId} ,
            </if>
            <if test="entity.isValid != null">
                isValid = #{entity.isValid}
            </if>
        </set>
        WHERE id = #{entity.id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM player_prop WHERE id = #{id}
    </delete>
</mapper>